.App {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-container{
  margin: 50px;
  width: 960px;
  background-color: LightBlue;
}

.widget-header{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-title{
  margin-left: 20px;
  font-size: 1em;
}

.widget-disclosure{
  margin-right: 20px;
  font-size: .5em;
}

.image {
  margin: 0px 20px 20px;
  width: 280px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.thumbnail {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.image-title {
  font-size: 1em;
}

.image-branding{
  font-size: .75em;
  color: grey;
}

.image-link {
  text-decoration: none;
  color: inherit;
}
