.App {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image-container{
  margin: 50px;
  width: 960px;
  background-color: LightBlue;
}

.widget-header{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-title{
  margin-left: 20px;
  font-size: 1em;
}

.widget-disclosure{
  margin-right: 20px;
  font-size: .5em;
}

.image {
  margin: 0px 20px 20px;
  width: 280px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.thumbnail {
  width: 100%;
  height: auto;
}

.title {
  font-size: 1em;
}

.branding{
  font-size: .75em;
  color: grey;
}

.link {
  text-decoration: none;
  color: inherit;
}
