.App {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.image-container{
  margin: 3%;
  width: 100%;
  background-color: LightBlue;
}

.widget-header{
  width: 97%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-title{
  font-size: 1em;
}

.widget-disclosure{
  font-size: .5em;
}

.image {
  margin: 0px 1% 1%;
  width: 31%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.thumbnail {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.image-title {
  font-size: 1em;
}

.image-branding{
  font-size: .75em;
  color: grey;
}

.image-link {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 450px) {

  .App {
    width: 90%;
  }

  .image{
    width: 96%;
  }
}

@media only screen and (max-width: 1050px){
  .widget-title{
    font-size: .75em;
  }

  .widget-disclosure{
    font-size: .25em;
  }

  .image-title {
    font-size: .75em;
  }

  .image-branding{
    font-size: .5em;
  }
}
